.animateToast {
  animation: slideIn 1.5s forwards;
}

@keyframes slideIn {
  0% {
    transform: translate(-50, -100%);
  }
  1% {
    transform: translate(-50, 0%);
  }
  50% {
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, -100%);
  }
}


.animateTr {
  animation: pulseBg 700ms forwards;
}

@keyframes pulseBg {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: #CCDDFF;
  }
  80% {
    background-color: inherit;
  }
}