.collapseClose {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms;
}

.collapseOpen {
  grid-template-rows: 1fr;
}

.animateTd {
  animation: pulseBg 700ms forwards;
}

@keyframes pulseBg {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: #ccddff;
  }
  80% {
    background-color: inherit;
  }
}

.tooltip {
  opacity: 0;
  transition: 0.5s;
}

.hover-tooltip:hover .tooltip {
  opacity: 1;
}
