@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --headerHeight: 56px;
  --padingY: 32px;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  color: #3e3e3e;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 16px;
}


.h_sectionTable {
  max-height: calc(100vh - var(--headerHeight) - var(--padingY));
  height: fit-content;
}

.h_main {
  min-height: calc(100vh - var(--headerHeight));
}
