@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --headerHeight: 56px;
  --padingY: 32px;
}

/* Hide scrollbar for Webkit/Blink */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Scrollbar Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Scrollbar Handle */
*::-webkit-scrollbar-thumb {
  background: #888; /* You can change this color */
  /* border-radius: 4px; */
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555; /* You can change this color */
}

body {
  color: #3e3e3e;
}

body::-webkit-scrollbar {
  width: 16px;
}
/* body::-webkit-scrollbar-thumb {
  background: red;
} */

.h_sectionTable {
  height: calc(100vh - var(--headerHeight) - var(--padingY));
}


.h_main {
  height: calc(100vh - var(--headerHeight));
}
